@using ENRLReconSystem.Utility
@using ENRLReconSystem.Helpers
@using ENRLReconSystem.DO
@model DOGEN_Queue

@using (Html.BeginForm("UpdateSuspectCase", "Common", FormMethod.Post, new { @id = "frmUpdateSuspectCase" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    @Html.HiddenFor(m => m.GEN_QueueId)
    @Html.HiddenFor(m => m.MemberDOB)
    @Html.HiddenFor(m => m.DiscrepancyReceiptDate)
    @Html.HiddenFor(m => m.DiscrepancyCategoryLkup)
    @Html.HiddenFor(m => m.WorkBasketLkup)
    @Html.HiddenFor(m => m.RoleLkup)
 


    <div class="inner-wdgt clearfix">
        <div class="primary-hdr">
            <h4><img src="~/Images/info-icon.png" /><span>Update Member Info</span></h4>
        </div>
        <div class="inner-wdgt-body">
            <div class="form-group col-md-3">
                <label for="txtMemberID">Member ID</label>
                @Html.TextBoxFor(m => m.MemberID, new CustomValidation().AddCssClass("form-control").CustomAttributes("id", "txtMemberID").CustomAttributes("maxlength", "20").RegularExpression(RegexType.AlphabetsWithNumericUnderscoreHyphenAndSpaces, "Member ID").StringMaxLength(20, "Member  ID").validationAttributes)
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail" class="required">First Name</label>
                @Html.TextBoxFor(m => m.MemberFirstName, new CustomValidation().Required("First Name is required.").CustomAttributes("id", "txtMemberFirstName").AddCssClass("form-control").RegularExpression(RegexType.MemberName, "First Name").CustomAttributes("maxlength", "35").StringMaxLength(35, "First Name").validationAttributes)
            </div>
            <div class="form-group col-md-3">
                <label for="txtMemberMiddleName">Middle Name</label>
                @Html.TextBoxFor(m => m.MemberMiddleName, new CustomValidation().CustomAttributes("id", "txtMemberMiddleName").AddCssClass("form-control").RegularExpression(RegexType.MemberName, "Middle Name").CustomAttributes("maxlength", "35").StringMaxLength(35, "Middle Name").validationAttributes)
            </div>
            <div class="form-group col-md-3">
                <label for="txtMemberLastName" class="required">Last Name</label>
                @Html.TextBoxFor(m => m.MemberLastName, new CustomValidation().Required("Last Name is required.").CustomAttributes("id", "txtMemberLastName").AddCssClass("form-control").RegularExpression(RegexType.MemberName, "Last Name").CustomAttributes("maxlength", "35").StringMaxLength(35, "Last Name").validationAttributes)
            </div>
            <div class="form-group date-group col-md-3">
                <label class="required">DOB</label>
                @Html.DateTimeFor(m => m.MemberDOB, false, new CustomValidation().Required("DOB is required.").AddCssClass("form-control").validationAttributes)
            </div>
            <div class="form-group col-md-3">
                <label for="ddlContractId" class="required">Contract Number</label>
                @Html.DropDownListFor(m => m.MemberContractIDLkup, new SelectList(Model.lstContractid, "CMN_LookupMasterId", "LookupValue"), ConstantTexts.dropdownDefaultValue, new CustomValidation().Required("Please select Contract Number.").AddCssClass("form-control").CustomAttributes("id", "ddlContractId").validationAttributes)
                @Html.HiddenFor(m => m.MemberContractIDLkup, new { @id = "hdnMemberContractIDLkup" })
            </div>
            <div class="form-group col-md-3">
                <label for="ddlPbpId" class="required">PBP</label>
                @Html.DropDownListFor(m => m.MemberPBPLkup, new SelectList(Model.lstPbpid, "CMN_LookupMasterId", "LookupValue"), ConstantTexts.dropdownDefaultValue, new CustomValidation().Required("Please select PBP.").AddCssClass("form-control").CustomAttributes("id", "ddlPbpId").validationAttributes)
            </div>
            <div class="form-group col-md-3">
                <label for="ddlLob">LOB</label>
                @Html.DropDownListFor(m => m.MemberLOBLkup, new SelectList(Model.lstLob, "CMN_LookupMasterId", "LookupValue"), ConstantTexts.dropdownDefaultValue, new CustomValidation().Required("Please select LOB.").AddCssClass("form-control").CustomAttributes("disabled", "true").CustomAttributes("id", "ddlLob").validationAttributes)
                @Html.HiddenFor(m => m.MemberLOBLkup, new { @id = "hdnMemberLOBLkup" })
            </div>
            <div class="form-group col-md-3">
                <label for="ddlMemberVerifiedState">Verified State</label>
                @Html.DropDownListFor(m => m.MemberVerifiedState, new SelectList(Model.lstMemberVerifiedState, "LookupValue1", "LookupValue1"), ConstantTexts.dropdownDefaultValue, new CustomValidation().AddCssClass("form-control").validationAttributes)
            </div>
            <div class="form-group col-md-3">
                <label for="txtMemberVerifiedCountyCode">Verified County Code</label>
                @Html.TextBoxFor(m => m.MemberVerifiedCountyCode, new CustomValidation().CustomAttributes("maxlength", "3").AddCssClass("form-control allowOnlyNumeric").StringMaxLength(3, "Verified County Code").RegularExpression(RegexType.Numeric, "Verified County Code").validationAttributes)
            </div>
            <div class="form-group date-group col-md-3">
                <label for="inputEmail" class="required">Discrepancy Receipt Date</label>
                @Html.DateTimeFor(m => m.DiscrepancyReceiptDate, false, new CustomValidation().Required("Discrepancy Receipt Date is required.").validationAttributes)
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Compliance Start Date</label>
                @Html.TextBoxFor(m => m.ComplianceStartDate, "{0:MM/dd/yyyy}", new { @tabindex = "-1", @readonly = "readonly", @class = "form-control" })
            </div>
            @if (Model.DiscrepancyCategoryLkup != DiscripancyCategory.SCC.ToInt64())
            {
                <div class="form-group col-md-3">
                    <label>Disenrollment Date</label>
                    @Html.TextBoxFor(m => m.DisenrollmentDate, "{0:MM/dd/yyyy}", new CustomValidation().AddCssClass("form-control").CustomAttributes("id", "txtDisenrollmentDate").CustomAttributes("readonly", "raedonly").validationAttributes)
                </div>
            }
        </div>
    </div>
    <div class="inner-wdgt clearfix">
        <div class="primary-hdr">
            <h4><img src="~/Images/info-icon.png" /><span>Add Comments</span></h4>
        </div>
        <div class="inner-wdgt-body">
            <div class="form-group textarea col-md-12">
                <label>Comments</label>
                @Html.TextAreaFor(m => m.Comments, new CustomValidation().AddCssClass("form-control").CustomAttributes("id", "txtComments").CustomAttributes("maxlength", "4000").StringMaxLength(4000, "Comments").validationAttributes)
            </div>
        </div>
    </div>
    <div class="btn-group clearfix">
        <button type="button" id="btnCaseSave" title="Save" class="btn btn-primary"><img src="~/Images/save-icon.png" /><span>Save</span></button>
        <button type="button" id="btnCaseReset" title="Reset" class="btn btn-primary"><img src="~/Images/reset-icon.png" /><span>Reset</span></button>
        <button type="button" id="btnCaseCancel" title="Cancel" class="btn btn-primary"><img src="~/Images/cancle-icon.png" /><span>Cancel</span></button>
    </div>
}
<script type="text/javascript">
    $(function () {
        MainLayout.fnLoadDateTimePicker();
        var urlUpdateOSTCaseInfo = '@Url.Action("UpdateCaseInfo", "Common")';
        var $myOSTCaseForm, origOSTCAseForm;
        var bussinessSegment = '@Model.BusinessSegmentLkup';
        var PBPLkup='@Model.MemberPBP';



        $("#frmUpdateSuspectCase").on("change", "#ComplianceStartDate", function () {
            try {
                var CurrentDate = new Date(getDateTimeInMMDDYYYY($(this).val()));

                if ($("#frmUpdateSuspectCase #ddlLob").val() != "") {
                    var contText = $("#frmUpdateSuspectCase #ddlContractId option:selected").text();
                    if (contText.charAt(0) == "S") {
                        CurrentDate.setMonth(CurrentDate.getMonth() + 12);
                    }
                    else {
                        CurrentDate.setMonth(CurrentDate.getMonth() + 6);
                    }
                    var newDate = new Date(CurrentDate.getFullYear(), CurrentDate.getMonth() + 1, 0);
                    $("#frmUpdateSuspectCase #txtDisenrollmentDate").val((newDate.getMonth() + 1) + '/' + newDate.getDate() + '/' + newDate.getFullYear());
                }
            } catch (e) {

            }
        });
        $("#frmUpdateSuspectCase").on("change", "#DiscrepancyReceiptDate_DPart", function () {
            try {
                if ($(this).val() != null && $(this).val() != "") {
                    var CurrentDate = new Date(getDateTimeInMMDDYYYY($(this).val()));
                    if (CurrentDate != null && CurrentDate != '') {
                        $("#frmUpdateSuspectCase #ComplianceStartDate").val((CurrentDate.getMonth() + 1) + '/' + CurrentDate.getDate() + '/' + CurrentDate.getFullYear());
                        $("#frmUpdateSuspectCase #ComplianceStartDate").change();
                    }
                }
            } catch (e) {

            }
        });
        $("#frmUpdateSuspectCase").on("change", "#ddlContractId",function(){
            try {
                var contID = $(this).val();                
                    var contText = $("#frmUpdateSuspectCase #ddlContractId option:selected").text();
                    var CurrentDate = "";
                    if ($('#frmUpdateSuspectCase #ComplianceStartDate').val() != null && $('#frmUpdateSuspectCase #ComplianceStartDate').val() != "") {
                        CurrentDate = new Date(getDateTimeInMMDDYYYY($('#frmUpdateSuspectCase #ComplianceStartDate').val()));
                    }

                    $("#frmUpdateSuspectCase #txtDisenrollmentDate").val("");
                    $("#frmUpdateSuspectCase #hdnMemberLOBLkup").val("");
                    $("#frmUpdateSuspectCase #ddlLob").val("");
                    if (contID != "") {                      
                        if (contText.charAt(0) == "S") {
                            $("#frmUpdateSuspectCase #ddlLob").val(enums.ContractLOB.PDP);
                            $("#frmUpdateSuspectCase #ddlLob").change();
                            $("#frmUpdateSuspectCase #hdnMemberLOBLkup").val(enums.ContractLOB.PDP);
                            if ('@Model.DiscrepancyCategoryLkup' != enums.DiscripancyCategory.SCC) {
                                if (CurrentDate != null && CurrentDate != '') {
                                    CurrentDate.setMonth(CurrentDate.getMonth() + 12);
                                    var newDate = new Date(CurrentDate.getFullYear(), CurrentDate.getMonth() + 1, 0);
                                    $("#frmUpdateSuspectCase #txtDisenrollmentDate").val((newDate.getMonth() + 1) + '/' + newDate.getDate() + '/' + newDate.getFullYear());
                                }
                            }
                        }
                        else {
                            $("#frmUpdateSuspectCase #ddlLob").val(enums.ContractLOB.MA);
                            $("#frmUpdateSuspectCase #ddlLob").change();
                            $("#frmUpdateSuspectCase #hdnMemberLOBLkup").val(enums.ContractLOB.MA);
                            if ('@Model.DiscrepancyCategoryLkup' != enums.DiscripancyCategory.SCC) {
                                if (CurrentDate != null && CurrentDate != '') {
                                    CurrentDate.setMonth(CurrentDate.getMonth() + 6);
                                    var newDate = new Date(CurrentDate.getFullYear(), CurrentDate.getMonth() + 1, 0);
                                    $("#frmUpdateSuspectCase #txtDisenrollmentDate").val((newDate.getMonth() + 1) + '/' + newDate.getDate() + '/' + newDate.getFullYear());
                                }
                            }
                        }
                        /////Load PBP for C&S business segment
                        //if (bussinessSegment == enums.BusinessSegmentLkup.CNS) {                           
                        //    MainLayout.fnGetPBP(contID, "#frmUpdateSuspectCase #ddlPbpId");
                        //}
                    }


            } catch (e) {

            }
    });


        $('#frmUpdateSuspectCase').on("click", "#btnCaseSave", function () {
            try {
            fnGetDateIntoHdnFields();
            var urlUpdateCaseInfo = '@Url.Action("UpdateCaseInfo", "Common")';
            var $formOSTCaseInfo = $("#frmUpdateSuspectCase"),
                frmOSTData = $formOSTCaseInfo.serialize();

            if (fnValidateCreateCase($formOSTCaseInfo)) {
                  $.ajax({
                    data: frmOSTData,
                    url: urlUpdateCaseInfo,
                    type: "POST",
                    success: function (data) {
                        if (data.ID == 1) {
                            window.location.reload(true);
                        }
                        else {
                            alert("Update Case info Fail");
                            window.location.reload(true);
                        }

                    }
                });
            }

            } catch (e) {

            }

        });
        $('#frmUpdateSuspectCase').on("click", "#btnCaseReset", function () {
            MainLayout.fnResetValidationSummary();
            $myOSTCaseForm.deserialize(origOSTCAseForm);
        });
        $('#frmUpdateSuspectCase').on("click", "#btnCaseCancel", function () {
            window.location.reload(true);
        });


        if ('@Model.MemberDOB' != null && '@Model.MemberDOB' != '') {
            $('#MemberDOB_DPart').val(getDateTimeInMMDDYYYY('@Model.MemberDOB'));
        }
        if ('@Model.DiscrepancyReceiptDate' != null && '@Model.DiscrepancyReceiptDate' != '') {
            $('#DiscrepancyReceiptDate_DPart').val(getDateTimeInMMDDYYYY('@Model.DiscrepancyReceiptDate'));
        }

        //function to set model date time values from date time picker
        fnGetDateIntoHdnFields = function () {
            var date = $('#frmUpdateSuspectCase #MemberDOB_DPart').val();
            if (date != null && date != '') {
                $('#frmUpdateSuspectCase #MemberDOB').val(getDateTimeInMMDDYYYY(date));
            }
            var date = $('#frmUpdateSuspectCase #DiscrepancyReceiptDate_DPart').val();
            if (date != null && date != '') {
                $('#frmUpdateSuspectCase #DiscrepancyReceiptDate').val(getDateTimeInMMDDYYYY(date));
            }
        };
        fnValidateCreateCase = function ($form) {
            try {
                var errorList = []
                    , $summary = $form.find("[data-valmsg-summary=true]")
                    , $ul = $summary.find("ul").empty();

                var isFormValid = $form.valid(), isValid = true;

                var discReceiptDatee = new Date($('#frmUpdateSuspectCase #DiscrepancyReceiptDate_DPart').val());
                var MemberDOB = new Date($('#frmUpdateSuspectCase #MemberDOB_DPart').val());
                var today = new Date();
                today.setHours(0, 0, 0, 0)

                if (MemberDOB >= today) {
                    $('#frmUpdateSuspectCase #MemberDOB_DPart').removeClass("valid").addClass("input-validation-error");
                    $("<li />").html("DOB  must be less than  Current Date.").prependTo($ul);
                    isValid = false;
                }
                if (!isFormValid) {
                    return false;
                }

                if (discReceiptDatee > today) {
                    errorList.push("Discrepancy Receipt Date should be less than or equal to current date.");
                }
                ////
                if (errorList.length == 0 && isValid) {
                    return true;
                }

                // Add all errors to the list
                $.each(errorList, function (index, message) {
                    $("<li />").html(message).appendTo($ul);
                });
                // Add the appropriate class to the summary div
                $summary.removeClass("validation-summary-valid").addClass("validation-summary-errors");


                return false; // Block the submit


            } catch (e) {

            }
        };


        $myOSTCaseForm = $("#frmUpdateSuspectCase");
        origOSTCAseForm = $myOSTCaseForm.serialize();
        //if (bussinessSegment == enums.BusinessSegmentLkup.CNS) {
        //    var contID = $("#hdnMemberContractIDLkup").val();         
        //    MainLayout.fnGetPBP(contID, "#frmUpdateSuspectCase #ddlPbpId");       
        //    if ($("#frmUpdateSuspectCase #ddlPbpId option:contains("+ PBPLkup +")").length > 0) {
        //        $("#frmUpdateSuspectCase #ddlPbpId").val($("#frmUpdateSuspectCase #ddlPbpId option:contains(" + PBPLkup.trim() + ")").val());
        //    }           
        //}
    })

</script>
@Scripts.Render("~/bundles/jqueryval")

