@using ENRLReconSystem.Helpers
@using ENRLReconSystem.DO
@using ENRLReconSystem.Utility
@model DOGEN_RPRActions

<div class="clearfix">
    <div class="form-group col-md-3">
        @Html.LabelFor(m => m.ResolutionLkup, "Resolution", new { @class = "required" })
        @Html.DropDownListFor(m => m.ResolutionLkup, new SelectList(Model.lstResolution, "CMN_LookupMasterChildRef", "LookupMasterChildValue"), ConstantTexts.dropdownDefaultValue, new CustomValidation().Required("Please select Resolution").AddCssClass("form-control").validationAttributes)
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(m => m.RootCauseLkup, "Root Cause", new { @class = "required" })
        @Html.DropDownListFor(m => m.RootCauseLkup, new SelectList(Model.lstRootCause, "CMN_LookupMasterChildRef", "LookupMasterChildValue"), ConstantTexts.dropdownDefaultValue, new CustomValidation().Required("Please select Root cause").AddCssClass("form-control").validationAttributes)
    </div>
    <div class="form-group textarea col-md-12">
        @Html.LabelFor(m => m.Comments, "Comments", new { @class = "required" })
        @Html.TextAreaFor(m => m.Comments, new CustomValidation().Required("Comments are Required").AddCssClass("form-control").CustomAttributes("id", "txtComments").CustomAttributes("maxlength", "4000").StringMaxLength(4000, "Comments").validationAttributes)
    </div>
</div>
