@using ENRLReconSystem.Utility;
@using ENRLReconSystem.DO
@model List<SearchResults>


@{
    long workBasketLkup = Convert.ToInt64(ViewBag.CurrentWorkBasket);
}



<style>
    [class="20003"] {
        color: green;
    }

    [class="20002"] {
        color: orangered;
    }

    [class="20001"] {
        color: blue;
    }

    .TotalCountText {
        color: rgb(169, 68, 66);
        font-size: medium;
    }
</style>
<div class="wdgt-wrapper">
    <div class="wdgt-hdr">
        <img src="~/Images/list-icon.png" /><h4>Search Results</h4>
        <button type="button" id="btnExportReportToExcel" class="btn btn-primary" title="Export to excel" style="float:right;border-color:#244163;"><img src="~/Images/excel-icon.png" /><span></span></button>
    </div>
    <div class="wdgt-body clearfix" style="padding-top:0px;">
        <div class="clearfix">
            @if (ViewBag.TotalCount != null)
            {
                @Html.Raw(ViewBag.TotalCount);
            }

        </div>


        <div class="table-responsive">
            @if (Model != null && Model.Count() > 0)
            {
                <table id="tblSearchResult" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="actions" align="center">Actions</th>
                            <th>ERS Case ID</th>
                            <th>Locked On</th>
                            <th>Locked By</th>
                            <th>Medicare ID</th>
                            <th>Contract Number</th>
                            <th>PBP</th>
                            @if (workBasketLkup == (long)WorkBasket.RPR)
                            {
                                <th>Action Requested</th>
                            }
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Most Recent Queue</th>
                            <th>Most Recent Status</th>
                            <th>Queue Type</th>
                            <th>Member ID</th>
                            <th>Pend Reason</th>
                            <th title="Business Segment">Bus. Segmt.</th>
                            <th title="Discrepancy Category">Disc. Cat.</th>
                            <th title="Discrepancy Type">Disc. Type</th>
                            <th>Gender</th>
                            <th>DOB</th>
                            <th>LOB</th>
                            <th>Aging</th>
                            <th>SCC Code</th>
                            <th>GPS Household ID</th>
                            <th>Discrepancy Start Date</th>
                            <th>Compliance Start Date</th>
                            @switch (workBasketLkup)
                            {
                                case (long)WorkBasket.OST:
                                    <th>Adjusted Compliance Date</th>
                                    <th>Verified State</th>
                                    <th>Verified County Code </th>
                                    <th>Discrepancy Source</th>
                                    <th>OOA Letter Status</th>
                                    break;
                                case (long)WorkBasket.GPSvsMMR:
                                    <th>GPS Medicare ID</th>
                                    <th>MMR Medicare ID</th>
                                    break;
                                case (long)WorkBasket.RPR:
                                    <th>RPC Submission Date</th>
                                    <th>FDR Received Date</th>
                                    <th>FDR Code Received</th>
                                    <th>FDR Status</th>
                                    <th>RPR Requestor</th>
                                    break;
                            }
                            <th>Resolution</th>                           
                            <th>Created On</th>
                            <th>Created By</th>
                            <th>Last Updated On</th>
                            <th>Last Updated By</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class='@(item.LockedByRef != null ? "alert-danger" : "")'>
                                <td class="actions">
                                    @if (item.EditActionVisibility)
                                    {
                                        <a onclick="fnLockAndEdit(@item.WorkItemID,'@item.EncryptedCaseID',@item.DiscrepancyCategoryLkup,@item.MostRecentQueueLkup);" title="Edit Record"><img src="~/Images/edit.png" /></a>
                                    }
                                    else
                                    {
                                        <a title="Edit Record"><img src="~/Images/edit_disabled.png" /></a>
                                    }
                                    @if (item.MostRecentStatusLkup == (long)CurrentStatusLkup.ResolvedComplted)
                                    {
                                        <a title="Clone Record"><img src="~/Images/disable-clone-icon.png" /></a>
                                        <a onclick="fnLockAndReopen(@item.WorkItemID,'@item.EncryptedCaseID',@item.DiscrepancyCategoryLkup,@item.MostRecentQueueLkup);" title="Reopen Record"><img src="~/Images/reopen-icon.png" /></a>
                                    }
                                    else
                                    {
                                        <a onclick="fnCloneRecord(@item.WorkItemID,@item.DiscrepancyCategoryLkup,@item.MostRecentQueueLkup);" title="Clone Record"><img src="~/Images/clone-icon.png" /></a>
                                        <a title="Reopen Record"><img src="~/Images/reopen-disable-icon.png" /></a>
                                    }
                                    <a onclick="fnViewRecord(@item.WorkItemID,@item.DiscrepancyCategoryLkup,@item.MostRecentQueueLkup);" title="View Record"><img src="~/Images/View.png" /></a>&nbsp;
                                    <a onclick="fnAccessReport(@item.WorkItemID,@item.DiscrepancyCategoryLkup,@item.MostRecentQueueLkup);" title="View History"><img src="~/Images/History.png" /></a>
                                </td>
                                <td>@item.WorkItemID</td>
                                <td>
                                    @if (item.UTCLockedOn.HasValue)
                                    {@item.UTCLockedOn.Value.ToString("MM/dd/yyyy hh:mm tt")}
                                </td>
                                <td>@item.LockedBy</td>
                                <td>@item.MemberCurrentHICN</td>
                                <td>@item.MemberContractID</td>
                                <td>@item.MemberPBP</td>
                                @if (workBasketLkup == (long)WorkBasket.RPR)
                                {
                                    <td>@item.RPRActionRequested</td>
                                }
                                <td>@item.MemberFirstName</td>
                                <td>@item.MemberMiddleName</td>
                                <td>@item.MemberLastName</td>
                                <td>@item.MostRecentQueue</td>
                                <td class="@item.MostRecentStatusLkup">@item.MostRecentStatus</td>
                                <td>@item.QueueProgressType</td>
                                <td>@item.MemberID</td>
                                <td>@item.PendReason</td>
                                <td>@item.BusinessSegment</td>
                                <td>@item.DiscrepancyCategory</td>
                                <td>@item.DiscrepancyType</td>
                                <td>@item.MemberGender</td>
                                <td>
                                    @if (item.MemberDOB.HasValue)
                                    {@item.MemberDOB.Value.ToString("MM/dd/yyyy")}
                                </td>
                                <td>@item.MemberLOB</td>
                                <td>@item.Aging</td>
                                <td>@item.MemberSCCCode</td>
                                <td>@item.GPSHouseholdID</td>
                                <td>
                                    @if (item.DiscrepancyStartDate.HasValue)
                                    {@item.DiscrepancyStartDate.Value.ToString("MM/dd/yyyy")}
                                </td>
                                <td>
                                    @if (item.ComplianceStartDate.HasValue)
                                    {@item.ComplianceStartDate.Value.ToString("MM/dd/yyyy")}
                                </td>
                                @switch (workBasketLkup)
                                {
                                    case (long)WorkBasket.OST:
                                        <td>
                                            @if (item.AdjustedComplianceStartDate.HasValue)
                                            {@item.AdjustedComplianceStartDate.Value.ToString("MM/dd/yyyy")}
                                        </td>
                                        <td>@item.MemberVerifiedState</td>
                                        <td>@item.MemberVerifiedCountyCode</td>
                                        <td>@item.DiscrepancySource</td>
                                        <td>@item.OOALetterStatus</td>
                                        break;
                                    case (long)WorkBasket.GPSvsMMR:
                                        <td>@item.GPSHICN</td>
                                        <td>@item.MMRHICN</td>
                                        break;
                                    case (long)WorkBasket.RPR:
                                        <td>
                                            @if (item.RPCSubmissionDate.HasValue)
                                            {@item.RPCSubmissionDate.Value.ToString("MM/dd/yyyy")}
                                        </td>
                                        <td>
                                            @if (item.FDRReceivedDate.HasValue)
                                            {@item.FDRReceivedDate.Value.ToString("MM/dd/yyyy")}
                                        </td>
                                        <td>@item.FDRCodeReceived</td>
                                        <td>@item.FDRStatus</td>
                                            <td>@item.RPRRequestor</td>
                                        break;
                                }
                                <td>@item.Resolution</td>                              
                                <td>
                                    @if (item.UTCCreatedOn.HasValue)
                                    {@item.UTCCreatedOn.Value.ToString("MM/dd/yyyy hh:mm tt")}
                                </td>
                                <td>@item.CreatedBy</td>
                                <td>
                                    @if (item.UTCLastUpdatedOn.HasValue)
                                    {@item.UTCLastUpdatedOn.Value.ToString("MM/dd/yyyy hh:mm tt")}
                                </td>
                                <td>@item.LastUpdatedBy</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div style="text-align:center;color:red;">
                    No Records Found
                </div>
            }
        </div>
    </div>
</div>
